@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body{
    background-color: rgb(198, 198, 198);
    margin: 0px;
    padding: 0px;
}


/* Small (Aplicacao para celulares, 576px and up)*/
/*@media (min-width: 576px) { */

    .Principal{
    
        width: 360px;
        height: 740px;
        margin: auto;
        background-color: gray;
    
    }
    .Navegacao{
    
        width: 360px;
        height: 60px;
        display: flex;
        align-items: center;
    }
    .botao{
        color: black;
        font-family: 'Cutive Mono', monospace;
        margin-left: 30px;
        font-size: 20px;
        text-decoration: none;
    }
    .botao:hover{
        color: sienna;
        font-weight: bold;
    
    }
    .texto001{
        width: 70%;
        height: 200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Cutive Mono', monospace;
        text-align: center;
        font-size: 30px;
    }
    .area001{
        width: 90%;
        height: 460px;
        background-color: rgb(70, 69, 69);
        margin: auto;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .texto002{
        width: 70%;
        height: 200px;
        margin: auto;
        margin-top: 20px;
        color: white;
        font-size: 30px;
        text-align: center;
    }
    .area002{
        width: 85%;
        height: 300px;
        margin: auto;
        background-color: aliceblue;
        border-radius: 20px;
        margin-bottom: 20px;
    }
/*}*/




/* X-Large (Aplicacao para desktops, 1200px and up)*/
@media (min-width: 1200px) { 

    .Principal{
    
        width: 1000px;
        height: 700px;
        margin: auto;
    
    }
    .Navegacao{
    
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
    }
    .botao{
        color: black;
        font-family: 'Cutive Mono', monospace;
        margin-left: 30px;
        font-size: 25px;
        text-decoration: none;
    }
    .botao:hover{
        color: sienna;
        font-weight: bold;
    
    }
    .texto001{
        width: 70%;
        height: 250px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Cutive Mono', monospace;
        text-align: center;
    }
    .area001{
        width: 900px;
        height: 300px;
        background-color: rgb(70, 69, 69);
        margin: auto;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .texto002{
        width: 40%;
        height: 260px;
        margin: auto;
        margin-top: 20px;
    }
    .area002{
        width: 40%;
        height: 260px;
        margin: auto;
        margin-top: 20px;
        background-color: aliceblue;
        border-radius: 20px;
    }
    
 }